<div class="container">

<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, ~s(Enter your name), class: "label" %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, ~s(Choose Your gender), class: "label" %>
  <%= select f, :gender, ["Male": "Male", "Female": "Female"] %>
  <%= error_tag f, :gender %>

  <%= label f, ~s(Choose a username), class: "label" %>
  <%= text_input f, :username %>
  <%= error_tag f, :username %>

  <%= inputs_for f, :credential, fn cf -> %>

  <%= label cf, ~s(Enter your email), class: "label" %>
  <%= email_input cf, :email %>
  <%= error_tag cf, :email %>

  <%= label cf, ~s(Choose a password), class: "label" %>
  <%= password_input cf, :password %>
  <%= error_tag cf, :password %>


  <% end %>

  <div>
    <%= submit "Save", class: "btn" %>
  </div>
<% end %>
</div>
