<div class="container-fluid">
<h1 class="heading">Add slams to your classmates</h1>
    <%= for user <- @users do %>
      <h1 class="heading"><%= user.name %>
      <h3 class="index-text">Username : <%= user.username %></h3>
      <p><%= link "Show", to: Routes.user_path(@conn, :show, user.id), class: "shorter-link" %> &nbsp;
      <%= if user.id != @current_user.id do %>
      <%= link "Add Slam", to: Routes.user_slam_path(@conn, :new, user.id), class: "shorter-link" %> &nbsp;
      <% end %>
      <%= if user.id ==  @current_user.id do %>
      <%= link "Edit", to: Routes.user_path(@conn, :edit, user.id), class: "shorter-link" %> &nbsp;
      <%= link "Delete", to: Routes.user_path(@conn, :delete, user.id), class: "shorter-link" %></p> &nbsp;
      <% end %>
    <% end %>
</div>
<%= if @current_user == nil do %>
<span><%= link "New User", to: Routes.user_path(@conn, :new) %></span>
<% end %>
</div>
