<div class="container">
<h1 class="heading">Create your profile</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

<h3><span><%= link "Back", to: Routes.user_path(@conn, :index), class: "shorter-link"%></span></h3>
</div>
