<div class="container">

<h1 class="heading">Showing User, <%= @user.name %></h1>

<h3 class="heading">Name:</h3>
<h4 class="index-text"><%= @user.name %></h4>

<h3 class="heading">Username:</h3>
<h4 class="index-text"><%= @user.username%></h4>

<h3 class="heading">Email:</strong></h3>
<h4 class="index-text"><%= @user.credential.email%></h4>

<br>

<%= if @current_user.id != @user.id do %>
<span><%= link "Add Slam", to: Routes.user_slam_path(@conn, :new, @user), class: "show-link" %></span>&nbsp;&nbsp;&nbsp;&nbsp;
<% else %>
<span><%= link "See Your Slams", to: Routes.user_slam_path(@conn, :index, @user), class: "show-link" %><span>&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>
<%= if(@current_user.id == @user.id) do %>
<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user), class: "show-link" %></span>&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>
<span><%= link "Back", to: Routes.user_path(@conn, :index), class: "show-link" %></span>&nbsp;&nbsp;&nbsp;&nbsp;
</div>
