/* This file is for your main application css. */

@import "./phoenix.css";

.center-heading {
  color: #4B0082;
  text-align: center;
};

.center-heading h1{
  letter-spacing: 50px;
  font-size: 30px;
}

.para-justification{
  color: #FF1493;
  text-align: justify;
  margin-top: 10px;
  padding: 10px;
}

.big-image{
  width: 100%;
}

.link{
  background-color: #4B0082;
  text-align: center;
  padding: inherit;
}

.link a{
  color: white;
}

a:hover {
  color: #4169E1;
}

.label{
  color: #FF1493;
}

.btn {
  color: white;
  background-color: #4B0082;
}

.btn:hover {
  color: #4B0082;
  background-color: white;
}

.pink-highlight {
  color: #FF1493;
}

.shorter-link {
  color: #FF1493;
  text-align: center;
}

.center-items{
  align-items: center;
}

.show-link {
  color: #FF1493;
  font-size: 23px;
}

.shorter-link:hover {
  text-decoration: underline;
  color: #C71585;
}

.show-link:hover {
  color: #FF1493;
  font-size: 23px;
  text-decoration: underline;
}

.heading{
  color: #4B0082;
}

.index-text{
  color: #00688B;
  font-size: 20px;
}

.span-text{
  font-size: 15px;
}

.white_back{
  background-color: white;
}
