<div>

  <h2 class="heading">Login to your profile</h2>

  <%= form_for @conn, Routes.session_path(@conn, :create), [method: :post, as: :user], fn f-> %>



  <div class="form-group">
    <%= label f, :email, class: "label" %>
    <%= text_input f, :email, placeholder: "Email", class: "form-control" %>
  </div>


  <div class="form-group">
    <%= label f, :password, class: "label" %>
    <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
  </div>

  <div>
      <%= submit "Log in", class: "btn" %>
  </div>

  <% end %>
<%= link "Back", to: "/", class: "shorter-link" %>
</div>
