<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Slam 2020</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">

            <%= if @current_user do %>
            <%= link "#{@current_user.name}", to: Routes.user_path(@conn, :show, @current_user), class: "shorter-link" %>

            <%= link "See your Slams", to: Routes.user_slam_path(@conn, :index, @current_user), class: "shorter-link" %>

            <%= link "Logout", to: Routes.session_path(@conn, :delete), class: "shorter-link" %>

            <% else %>

            <%= link "Login", to: Routes.session_path(@conn, :new), class: "shorter-link" %>

            <%= link "New User", to: Routes.user_path(@conn, :new), class: "shorter-link" %>
            <% end %>
        </nav>
          <img src="<%= Routes.static_path(@conn, "/images/slam.jpg") %>" alt="Phoenix Framework Logo"/>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
