<section class = "container-fluid">
  <div class = "center-heading">
    <h1>Hello There Friends!!!</h1>
  </div>

  <div class = "para-justification">
    <h4>It's been 4 long years and we all have to admit, we are nearing the end. We all came as strangers and are now leaving considering each other as a family.
    Just before we are about to part ways, I guess we should tell everyone how we felt about them. Because if not now then maybe never...</h4>
  </div>
  <div class = "big-image">
    <img src = <%= Routes.static_path(@conn, "/images/group.jpg") %> alt = "Our Group" >
  </div>
  <div class = "para-justification">
    <h4>For long we have been together and there might be a lot of things you would have wanted to say to each other. Well I guess this is the chance. Let's stop
    with all the anonymojs messaging and for once say openheartedly to everyone.</h4>
  </div>
  <div class =  "link">
    <a href = "<%= Routes.user_path(@conn, :new) %>"><h1>Enter your details</h1></a>
  </div>
  <div class = "center-heading">
    <h1>Already, entered, then login</h1>
  </div>
  <div class =  "link">
    <a href = "<%= Routes.session_path(@conn, :new) %>"><h1>Login</h1></a>
  </div>
</section>
