<h1>Edit Slam</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_slam_path(@conn, :update, @user, @slam)) %>

<span><%= link "Back", to: Routes.user_slam_path(@conn, :index, @user) %></span>
