<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, ~s(What was your first impression about me?), class: "label" %>
  <%= textarea f, :first_impression %>
  <%= error_tag f, :first_impression %>

  <%= label f, ~s(What is your impression about me now?), class: "label" %>
  <%= textarea f, :last_impression %>
  <%= error_tag f, :last_impression %>

  <%= label f, ~s(What do you think is my biggest positive?), class: "label" %>
  <%= textarea f, :biggest_positive %>
  <%= error_tag f, :biggest_positive %>

  <%= label f, ~s(What is the biggest negative thing about me?), class: "label" %>
  <%= textarea f, :biggest_negative %>
  <%= error_tag f, :biggest_negative %>

  <%= label f, ~s(Have you ever fancied me?), class: "label" %>
  <%= select f, :fancied_me, ["Yes": "Yes", "No": "No"], prompt: "Choose your Option" %>
  <%= error_tag f, :fancied_me %>

  <%= label f, ~s(The reason for that fascination or disinterest), class: "label" %>
  <%= textarea f, :the_reason %>
  <%= error_tag f, :the_reason %>

  <%= label f, ~s(What are the things that you like about me?), class: "label" %>
  <%= textarea f, :things_you_like %>
  <%= error_tag f, :things_you_like %>

  <%= label f, ~s(What are the things that you hate about me?), class: "label" %>
  <%= textarea f, :things_you_hate %>
  <%= error_tag f, :things_you_hate %>

  <%= label f, ~s(What was your biggest regret about me?), class: "label" %>
  <%= textarea f, :biggest_regret %>
  <%= error_tag f, :biggest_regret %>

  <%= label f, ~s(What type of personality would you say I am?), class: "label" %>
  <%= select f, :personlality, ["Smart": "Smart", "Imaginative": "Imaginative", "Bold": "Bold", "Curios": "Curios", "Mystical": "Mystical",
  "Caring": "Caring", "Energitic": "Energitic", "Enthusiastic": "Enthusiastic"], prompt: "Choose a Charecter" %>
  <%= error_tag f, :personlality %>

  <%= label f, ~s(What is your opinion in my personality), class: "label" %>
  <%= textarea f, :opinion %>
  <%= error_tag f, :opinion %>

  <%= if @current_user.gender != @user.gender do %>
  <%= label f, ~s(Ever had a crush on me?), class: "label" %>
  <%= select f, :had_crush, ["Yes": "Yes", "No": "No"], prompt: "Choose your Option" %>
  <%= error_tag f, :had_crush %>
  <%= end %>

  <%= label f, ~s(Any suggestions for me?), class: "label" %>
  <%= textarea f, :suggestion %>
  <%= error_tag f, :suggestion %>

  <%= label f, ~s(Can we be friends, till the end), class: "label" %>
  <%= textarea f, :friendship_agremeent %>
  <%= error_tag f, :friendship_agremeent %>

  <%= label f, ~s(Tell me something you wanted to say for a long time...), class: "label" %>
  <%= textarea f, :advice %>
  <%= error_tag f, :advice %>

  <div>
    <%= submit "Save", class: "btn" %>
  </div>
<% end %>
