<h1 class="heading">Listing Slams</h1>

<%= if @current_user.id == @user.id do %>
<%= if @slams == [] do %>
 <h4 class="pink-highlight">You currently have no slams</h4>
 <%= link "Back", to: Routes.user_path(@conn, :index) %>
<% else %>
<table>
  <tbody>
<%= for slam <- @slams do %>
    <tr>
      <td class="index-text">You have a slam from <br><br><h3 class="heading"><%= slam.filler_name %></h3></td>

      <td>
        <span><%= link "Show", to: Routes.user_slam_path(@conn, :show, @user, slam), class: "shorter-link" %></span>
        <span><%= link "Delete", to: Routes.user_slam_path(@conn, :delete, @user, slam), method: :delete, data: [confirm: "Are you sure?"], class: "shorter-link" %></span
      </td>
    </tr>
<% end %>
</tbody>
</table>
<% end %>
<%= link "Back", to: Routes.user_path(@conn, :index), class: "show-link" %>
<% else %>
<h4 class="shorter-link">View your slam for <%= @user.name %></h4><br/>
<table>
  <tr>
    <%= for slam <- @slams do %>
      <%= if slam.filler_name == @current_user.name do %>
    <td>
      <h3 class="heading"><%= slam.filler_name %></h3>
      <p class="index-text"><%= slam.friendship_agremeent %></p>
    <td>
    <td>
      <span><%= link "Show", to: Routes.user_slam_path(@conn, :show, @user, slam), class: "shorter-link" %></span>
      <span><%= link "Edit", to: Routes.user_slam_path(@conn, :edit, @user, slam), class: "shorter-link" %></span>
      <span><%= link "Delete", to: Routes.user_slam_path(@conn, :delete, @user, slam), method: :delete, data: [confirm: "Are you sure?"], class: "shorter-link" %></span>
    </td>
    <% end %>
    <% end %>
    </tr>
</table>
<%= link "Back", to: Routes.user_path(@conn, :index), class: "show-link" %>
<% end %>
