<h1 class="heading">Add a new slam for <%= @user.name %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_slam_path(@conn, :create, @user)) %>

<span><%= link "Back", to: Routes.user_path(@conn, :index), class: "show-link" %></span>
