<h1 class="heading">Show Slam</h1>

<h3 class="heading">My First Impression about you: </h3>
<h4 class="pink-highlight"><%= @slam.first_impression %></h4>

<h3 class="heading">My Last Impression about you: </h3>
<h4 class="pink-highlight"><%= @slam.last_impression %></h4>

<h3 class="heading">The biggest positives I find in you: </h3>
<h4 class="pink-highlight"><%= @slam.biggest_positive %></h4>

<h3 class="heading">The biggest negatives I find in you: </h3>
<h4 class="pink-highlight"><%= @slam.biggest_negative %></h4>

<h3 class="heading">Fascination: </h3>
<%= if @slam.fancied_me == "Yes" do %>
 <h4 class="pink-highlight">Yeah I did fancy you</h4>
<% else %>
  <h4 class="pink-highlight">No, Not Really</h4>
<% end %>

<h3 class="heading">The reason for my fascination: </h3>
<h4 class="pink-highlight"><%= @slam.the_reason %></h4>

<h3 class="heading">The things that I like about you are: </h3>
<h4 class="pink-highlight"><%= @slam.things_you_like %></h4>

<h3 class="heading">The things that I hate about you are: </h3>
<h4 class="pink-highlight"><%= @slam.things_you_hate %></h4>

<h3 class="heading">My biggest regret about you was: </h3>
<h4 class="pink-highlight"><%= @slam.biggest_regret %></h4>

<h3 class="heading">I would call your personality: </h3>
<h4 class="pink-highlight"><%= @slam.personlality %></h4>

<h3 class="heading">My opinion about your personality is: </h3>
<h4 class="pink-highlight"><%= @slam.opinion %></h4>

<%= if @slam.had_crush != nil do %>
<h3 class="heading">Crush</h3>
<%= if @slam.had_crush == "Yes" do %>
<h4 class="pink-highlight">Yes, I did have a crush on you</h4>
<% else %>
<h4>Noooooo</h4>
<% end %>
<% end %>

<h3 class="heading">My suggestion to you is that: </h3>
<h4 class="pink-highlight"><%= @slam.suggestion %></h4>

<h3 class="heading">My friendship agreement with you: </h3>
<h4 class="pink-highlight"><%= @slam.friendship_agremeent %></h4>

<h3 class="heading">The one thing i wanted to say to you for a long time is: </h3>
<h4 class="pink-highlight"><%= @slam.advice %></h4>

<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
